{% extends 'base.html' %}

{% block title %}Minhas Inscrições{% endblock %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container mt-4">
        <h1 class="display-3">Minhas Inscrições</h1>
        
        {% if registrations %}
            <div class="row">
                {% for registration in registrations %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <!-- Imagem do evento -->
                            {% if registration.event.image %}
                                <img src="{{ registration.event.image.url }}" class="card-img-top" alt="{{ registration.event.name }}">
                            {% else %}
                                <img src="{% static 'assets/img/sem-imagem.jpg' %}" class="card-img-top" alt="Imagem não disponível">
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">{{ registration.event.name }}</h5>
                                <p class="card-text">
                                    {{ registration.event.description|truncatewords:20 }} <!-- Descrição curta -->
                                </p>
                            </div>

                            <div class="card-footer text-center">
                                <a href="{% url 'details_event' registration.event.id %}" class="btn btn-primary">Ver Detalhes</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <nav aria-label="Navegação de página">
                <ul class="pagination justify-content-center">
                    <!-- Primeira página -->
                    {% if registrations.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Primeira">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <!-- Página anterior -->
                        <li class="page-item">
                            <a class="page-link" href="?page={{ registrations.previous_page_number }}" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Primeira">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- Números das páginas -->
                    {% for num in registrations.paginator.page_range %}
                        {% if registrations.number == num %}
                            <li class="page-item active">
                                <a class="page-link">{{ num }}</a>
                            </li>
                        {% elif num >= registrations.number|add:'-2' and num <= registrations.number|add:'2' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Próxima página -->
                    {% if registrations.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ registrations.next_page_number }}" aria-label="Próxima">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <!-- Última página -->
                        <li class="page-item">
                            <a class="page-link" href="?page={{ registrations.paginator.num_pages }}" aria-label="Última">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Próxima">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Última">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                Nenhuma inscrição encontrada.
            </div>
        {% endif %}
    </div>
    {% else %}
    {% include "verify-login.html" %}
 {% endif %}
{% endblock %}

