{% extends 'base.html' %}

{% block title %}Eventos{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-3">Eventos</h1>
        
        {% if events %}
            <div class="row">
                {% for event in events %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <!-- Imagem do evento -->
                            <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">

                            <div class="card-body">
                                <h5 class="card-title">{{ event.name }}</h5>
                                <p class="card-text">
                                    {{ event.description|truncatewords:20 }} <!-- Descrição curta -->
                                </p>
                            </div>

                            <div class="card-footer text-center">
                                <a href="{% url 'details_event' event.id %}" class="btn btn-primary">Ver Detalhes</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <nav aria-label="Navegação de página">
                <ul class="pagination justify-content-center">
                    <!-- Primeira página -->
                    {% if events.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Primeira">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <!-- Página anterior -->
                        <li class="page-item">
                            <a class="page-link" href="?page={{ events.previous_page_number }}" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Primeira">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <!-- Números das páginas -->
                    {% for num in events.paginator.page_range %}
                        {% if events.number == num %}
                            <li class="page-item active">
                                <a class="page-link">{{ num }}</a>
                            </li>
                        {% elif num >= events.number|add:'-2' and num <= events.number|add:'2' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Próxima página -->
                    {% if events.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ events.next_page_number }}" aria-label="Próxima">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <!-- Última página -->
                        <li class="page-item">
                            <a class="page-link" href="?page={{ events.paginator.num_pages }}" aria-label="Última">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Próxima">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Última">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% else %}
            
            <div class="alert alert-warning text-center" role="alert">
                {% if search %}
                    Nenhum Evento Encontrado para "{{search}}"
                {% else %}
                    Nenhum Evento Encontrado
                {% endif %}
            </div>
           
        {% endif %}
    </div>
{% endblock %}
