{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h1 class='mt-4'> {{ title }} </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {%if field.name != 'timezone'%}
            <div class="mb-3">
                {{ field.label_tag }}
                
                {% if field.name == 'event_start_date' or field.name == 'event_end_date' or field.name == 'registration_start_date' or field.name == 'registration_end_date' %}
                    <input type="datetime-local" name="{{ field.name }}"  value="{{ field.value}}"  class="form-control">
                {% else %}
                    {{ field }}
                {% endif %}
                
                {% if field.errors %}
                    <div class="text-danger">
                        <ul>
                            <li>{{ field.errors.0 }}</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            {%endif%}
            
        {% endfor %}

        <div class="d-flex justify-content-between gap-3 mb-3">
            <button type="submit" class="btn btn-primary d-none d-md-inline-block">{{ button_text }}</button>
            <button type="submit" class="btn btn-primary btn-sm d-md-none">{{ button_text }}</button>
            <!-- Botão de voltar para a lista de eventos -->
            <a href="{% url 'my_events' %}" class="btn btn-secondary  d-none d-md-inline-block">Voltar para a lista de eventos</a>
             <a href="{% url 'my_events' %}" class="btn btn-secondary btn-sm d-md-none">Voltar para a lista de eventos</a>
        </div>

        {{form.timezone}}
    </form>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var userTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        var timezoneField = document.querySelector('input[name="timezone"]');
        timezoneField.value = userTimezone;
        {% if title != 'Criar Evento' and not isDateConverted %}
            const inputsDateTimeElements = document.querySelectorAll('input[type="datetime-local"]')
                inputsDateTimeElements.forEach((input) => {
                input.value = convertDateToUserTimezone(input.value)
            })
        {% endif %}
    })
</script>
{%endblock%}
