{% extends 'base.html' %}
{% load static %}
{% block title %} Meus Eventos {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="mt-4">Meus Eventos</h1>

{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<!-- Botão para criar novo evento -->
<div class="mb-3 mt-3">
    <a href="{% url 'create_event' %}" class="btn btn-success btn-lg">
        <i class="fas fa-plus-circle"></i> Criar Novo Evento
    </a>
</div>

<!-- Tabela para exibir os eventos -->
<div class="card mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Todos os eventos
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Local</th>
                    <th>Data do Evento</th>
                    <th>Visibilidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Nome</th>
                    <th>Local</th>
                    <th>Data do Evento</th>
                    <th>Visibilidade</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.name |truncatewords:5 }}</td>
                        <td>{{ event.location |truncatewords:5  }}</td>
                        <td>{{ event.event_start_date | date:"d/m/Y H:i" }}</td>
                        <td>{{ event.get_visibility_display }}</td>
                        <td>

                            <div class="d-flex gap-2">
                                 <!-- Botão Visualizar -->
                            <a href="{% url 'details_event' event.id %}" class="btn btn-primary btn-sm">
                                <i class="fas fa-eye"></i> Visualizar
                            </a>
                            <!-- Botão Editar -->
                            <a href="{% url 'edit_event' event.id %}" class="btn btn-secondary btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <!-- Botão Deletar -->
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ event.id }}">
                                <i class="fas fa-trash-alt"></i> Deletar
                            </button>
                            </div>
                           

                            <!-- Modal de Confirmação -->
                            <div class="modal fade" id="deleteModal{{ event.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Você tem certeza que deseja excluir o evento "<strong>{{ event.name }}</strong>"?</p>
                                            <p><strong>Local:</strong> {{ event.location }}</p>
                                            <p><strong>Data do Evento:</strong> {{ event.event_start_date | date:"d/m/Y H:i" }}</p>
                                            <p><strong>Visibilidade:</strong> {{ event.get_visibility_display }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            <form method="post" action="{% url 'delete_event' event.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}
   {% include "verify-login.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/datatables-simple-demo.js' %}"></script>
<!-- Bootstrap JS (necessário para o modal funcionar) -->
{% endblock %}
